*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #2C394B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#level-title {
  font-family: 'Anton', sans-serif;
  font-size: 2.5rem;
  margin:  3% 2%;
  color: #FF4C29;
  line-height: 1.3;
  letter-spacing: 8px;
}
h4{
  font-size: 1.4rem;
  font-family: 'Dosis', sans-serif;
  color: #FDEFEF;
  letter-spacing: 3px;
}
h2{
  line-height: 5;
  font-size: 3rem;
  font-family: 'Anton', sans-serif;
  opacity: 0.8;
}
span {
  text-decoration: underline;
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.btn {
  margin: 20px;
  height: 200px;
  width: 200px;
  border: 10px solid #082032;
  border-radius: 20%;
}

.game-over {
  background-color: rgba(255, 0, 0, 0.1);
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px #334756;
  background-color: #362222;
}

footer {
  background-color: #FF4C29;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  margin-top:  auto;
}
.ftr-logo {
  color: #082032;
  margin: 0 10px;
}
.ftr-logo:hover {
  color: #8E2657;
}
footer p {
  color: #082032;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Dosis', sans-serif;
}
@media screen and (max-width: 720px) {

  .btn {
    margin: 15px;
    height: 110px;
    width: 110px;
    border: 5px solid #082032;
  }
  #level-title {
    font-size: 2rem;
    margin:  5%;
    text-align: center;
  }
  h2{
    display: none;
  }
}
